node_modules/

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Testes e relatórios
coverage/
mochawesome-report/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.*
!.env.example

# Sistema operacional e editor
.DS_Store
Thumbs.db
.vscode/
.idea/